@font-face {
  font-family: 'icomoon';
  src:url('../font/icomoon.eot');
  src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../font/icomoon.woff') format('woff'),
      url('../font/icomoon.ttf') format('truetype'),
      url('../font/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	content: attr(data-icon) string " ";
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
[data-icon], .icon-flip, .icon-upload, .icon-menu, .icon-cog, .icon-pie, .icon-stats, .icon-eye-blocked, .icon-eye, .icon-facebook, .icon-google-plus, .icon-twitter, .icon-feed, .icon-chrome, .icon-firefox, .icon-opera, .icon-safari, .icon-github, .icon-pacman, .icon-feed-2,
.icon-visible, .icon-hidden {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	padding-right: 5px;
}

.load-spinner[data-icon]:before {
  padding: 0;
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/* i[class*="icon-"] {
  display: inline-block;
}  */

.icon-flip:before {
  content: "\e000";
}
.icon-upload:before {
  content: "\e001";
}
.icon-menu:before {
  content: "\e002";
}
.icon-cog:before {
  content: "\e003";
}
.icon-pie:before {
  content: "\e004";
}
.icon-stats:before {
  content: "\e005";
}
.icon-eye-blocked:before, .icon-hidden:before {
  content: "\e006";
}
.icon-eye:before, .icon-visible:before {
  content: "\e007";
}
.icon-facebook:before {
  content: "\e008";
}
.icon-google-plus:before {
  content: "\e009";
}
.icon-twitter:before {
  content: "\e00a";
}
.icon-feed:before {
  content: "\e00b";
}
.icon-chrome:before {
  content: "\e00c";
}
.icon-firefox:before {
  content: "\e00d";
}
.icon-opera:before {
  content: "\e00e";
}
.icon-safari:before {
  content: "\e00f";
}
.icon-github:before {
  content: "\e010";
}
.icon-pacman:before {
  content: "\e011";
}
.icon-feed-2:before {
  content: "\e012";
}


/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* Icon rotations and mirroring */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/* ensure rotation occurs inside anchor tags */
a .icon-rotate-90:before,
a .icon-rotate-180:before,
a .icon-rotate-270:before,
a .icon-flip-horizontal:before,
a .icon-flip-vertical:before {
  display: inline-block;
}

/* Pacman */
.pacman[data-icon]:before {
  padding: 0;
  display: inline-block;
  -moz-animation: pacman 1.5s infinite linear;
  -o-animation: pacman 1.5s infinite linear;
  -webkit-animation: pacman 1.5s infinite linear;
  animation: pacman 1.5s infinite linear;
  color: rgb(248, 240, 28);
}

@-webkit-keyframes pacman {
  0% {
    -webkit-transform: translateX(-100%);  
  }
  49% {
    -webkit-transform: translateX(100%) scale(1, 1);
  }
  50% {
    -webkit-transform: translateX(100%) scale(-1, 1); 
  }
  100% {
    -webkit-transform: translateX(-100%) scale(-1, 1);
  }
}

@-moz-keyframes pacman {
  0% {
    -moz-transform: translateX(-100%);  
  }
  49% {
    -moz-transform: translateX(100%) scale(1, 1);
  }
  50% {
    -moz-transform: translateX(100%) scale(-1, 1); 
  }
  100% {
    -moz-transform: translateX(-100%) scale(-1, 1);
  }
}

@keyframes pacman {
  0% {
    transform: translateX(-100%);  
  }
  49% {
    transform: translateX(100%) scale(1, 1);
  }
  50% {
    transform: translateX(100%) scale(-1, 1); 
  }
/*   99% {
   transform: translateX(-100%) scale(-1, 1);
  } */
  100% {
    transform: translateX(-100%) scale(-1, 1);
  }
}

/***.*/
.flips:before {
  content: '\e012';
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  
  padding: 0;
  display: inline-block;
  -moz-animation: flips 1.5s infinite linear;
  -o-animation: flips 1.5s infinite linear;
  -webkit-animation: flips .5s infinite linear;
  animation: flips .5s infinite linear;  
}

@-webkit-keyframes flips {
  0% {
    -webkit-transform: scale(-1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-moz-keyframes flips {
  0% {
    -moz-transform: scale(-1, 1);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}

@keyframes flips {
  0% {
    transform: scale(-1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}