* {
  text-overflow: ellipsis;
  position: relative;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  overflow: auto;
  background-color: transparent;
}

body   {
  /* overflow-y: scroll;
  overflow-x: hidden; */
  margin: auto;
}

section, article, aside, footer, header, nav, hgroup {
  display:block;
}

table {
  margin: auto;
  border: 4px solid rgb(243, 242, 242);
  border-radius: 5px;
  border-spacing: 0px;
}

td {
  padding: 2px 15px;
  vertical-align: middle;
  text-align: center;
  border-top: solid 1px rgb(241, 241, 241);
  text-overflow: ellipsis;
}

tr:hover {
  background: /* rgb(166, 181, 187); */rgba(51, 168, 187, .65);
  color: white;
}

th.headerSortDown {
  background-color: rgb(211, 184, 183);
  color: white;
}

th.headerSortUp {
  background-color: rgb(169, 187, 166);
  color: white;
}

/** Scrollbar **/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:vertical:increment,
/* Place The scroll up button at the top */
::-webkit-scrollbar-button:vertical:decrement {
  background-color: rgba(84, 84, 84, 0.6);
  height: 15px;
}

::-webkit-scrollbar-button:vertical:decrement {
  border-radius: 6px 6px 0 0;
}
::-webkit-scrollbar-button:vertical:increment {
  border-radius: 0 0 6px 6px;
}

::-webkit-scrollbar-track  {
  background-color: rgba(50, 50, 50, .3);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb/* :vertical */ {
  height: 50px;
  background-color: rgba(44, 198, 204, 0.4);
  border: 2px solid rgba(7, 116, 90, 0.16);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(64, 218, 224, 0.4);
  border: 2px solid rgba(17, 126, 100, 0.16);
}
::-moz-scrollbar {
  width: 10px;
  height: 10px;
}

/* Place The scroll down button at the bottom */
::-moz-scrollbar-button:vertical:increment,
/* Place The scroll up button at the top */
::-moz-scrollbar-button:vertical:decrement {
  background-color: rgba(84, 84, 84, 0.6);
  height: 15px;
}

::-moz-scrollbar-button:vertical:decrement {
  border-radius: 6px 6px 0 0;
}

::-moz-scrollbar-button:vertical:increment {
  border-radius: 0 0 6px 6px;
}

::-moz-scrollbar-track  {
  background-color: rgba(50, 50, 50, .3);
  border-radius: 6px;
}

::-moz-scrollbar-thumb/* :vertical */ {
  height: 50px;
  background-color: rgba(44, 198, 204, 0.4);
  border: 2px solid rgba(7, 116, 90, 0.16);
  border-radius: 6px;
}

::-moz-scrollbar-thumb:hover {
  background-color: rgba(64, 218, 224, 0.4);
  border: 2px solid rgba(17, 126, 100, 0.16);
}
/*****************************************************************************/

div.box {
  /* margin: 2.5px; */
  padding: 5px;
  height: 30%;
  width: 30%;
  float: left;
  background: rgba(255, 255, 255, 1);
  position: relative;
  
  /*border: solid 1px black;*/
  border-radius: 5px;
}

div:focus {
  outline: none;
}

nav {
  height: 100%;
}

nav ul li {
  height: 15px;
  padding: 10px 5px;
  color: rgb(145, 145, 145);
}

nav ul li:hover,
nav ul li.selected {
  background: rgb(128, 178, 238);
  color: white;
}

menu {
  margin: 0;
  padding: 0;
}

menu button {
  color: rgb(105, 105, 105);
}

menu a {
  display: inline-block;
  position: relative;
  padding: 2px 5px;
  text-decoration: none;
  color: rgb(163, 163, 163);
}

menu a:visited {
  color: rgb(163, 163, 163);
}

button {
  background: none;
  border-radius: 5px;
  border: 1px solid rgba(228, 228, 228, 0);
  transition: 250ms linear;
}

button:hover, button:focus {
    background-color: rgba(35, 35, 35, .05);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0, 0%, 0%, .22) hsla(0, 0%, 0%,.28) hsla(0, 0%, 0%, .32); /*top vert bottom*/
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05)inset, 0 0 1px hsla(0,0%,100%,.15)inset, 0 1px 0 hsla(0,0%,100%,.05);
}

span.directory {
  color: rgb(185, 185, 185);
}

span.filename {
  color: rgb(145, 145, 145);
}

.frame {
  border-radius: 3px;
  margin: auto;
  max-width: 1366px;
  padding: 5px;
  position: relative;
  font-family: helvetica;
  
  box-shadow:  1px 2px 15px 3px rgba(0, 0, 0, 0.3),
        inset -3px -2px 10px 0px rgba(0, 0, 0, 0.25),
        inset 3px 2px 10px 0px rgba(255, 255, 255, 0.1);
}

.frame ul {
  list-style: none;
  padding: 0px;
}

.frame h1,
.frame h2 {
  font-weight: 500;
  font-size: 1.75em;
  margin: 5px 0 10px 0px;
}

.frame h2 {
  font-size: 1em;
}


/******************************************************************************
 * Placeholder Text
 */
::-webkit-input-placeholder {
    /* color: #333; */
}
:-moz-placeholder {
    /* color: #333; */
}
:-ms-input-placeholder {
    /* color: #333; */
}

/*****************************************************************************/

/** Ladda style loading spinners
 *
 * original:
 * http://lab.hakim.se/ladda
 * MIT licensed
 * Copyright (C) 2013 Hakim El Hattab, http://hakim.se
 */
.load-button {
  position: relative;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
}

/* Button label */
.load-button .load-label {
  position: relative;
  z-index: 3;
}

/* Spinner animation */
.load-button .load-spinner {
  position: absolute;
  z-index: 2;
  display: inline-block;
/*   width: 32px;
  height: 32px;
  top: 50%;
  margin-top: -16px; */
  opacity: 0;
  pointer-events: none;
}

.load-spinner {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) opacity;
}

/*************************************
 * Expand Right
 */
 
.load-button[data-style=expand-right][data-loading] {
  padding-right: 56px;
}

.load-button[data-style=expand-right] .load-spinner {
  right: 14px;
}

.load-button[data-style=expand-right][data-loading] .load-spinner {
  opacity: 1;
}

/* .load-spinner:before {
  content: "\e012";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;    
} */

/*************************************
 * SLIDE RIGHT
 */
.load-button[data-style=slide-right] {
  overflow: hidden;
}

.load-button[data-style=slide-right] .load-label {
  position: relative;
}

.load-button[data-style=slide-right] .load-spinner {
  right: 100%;
  margin-left: -16px; /**/
}

.load-button[data-style=slide-right][data-loading] .load-label {
  opacity: 0;
  left: 100%;
}

.load-button[data-style=slide-right][data-loading] .load-spinner {
  opacity: 1;
  left: 50%;
  /* left: 40px; */
}
/*****************************************************************************/

/*****************************************************************************/
/* Clearfix 
 */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/*****************************************************************************/

.soft-gray {
  background-color: rgb(243, 242, 242);
}